.expand-panel {
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  transition: 3s;
  overflow: hidden;
}

.header {
  background-color: rebeccapurple;
  padding: 10px;
  cursor: pointer;
}

.content {
  padding: 10px;
  display: none;
}

.expanded .content {
  display: block;
}




